
.other-box{
    background-color: rgb(56, 56, 59);
}

.box{
    background-color: rgb(207, 116, 246);
}
  .links-wrappers {
    display:flex;
    justify-content: space-evenly;
    align-items:center;

}
.links-wrappers > .nav-link a{
    text-decoration: none;
    width:70px;
    text-align:center;
    color: rgb(255, 255, 255);
}

.left-column > .logo{
    
}

.hero-section > .top-heading {
    padding:12px 4px;
    background-color:rgb(14, 144, 64);
    color: rgb(0, 0, 0);
    width: 200px;
    border-radius: 2px;
    font-size: 28px;
    margin: 200px;
}
.hero-section > .bottom-heading{
    padding:14px 0px;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 2px;
    font-size: 28px;
}

.left-column > .logo {
    width: 180px;
    height: 100%;
    }

    .text{
        padding: 35px;
        font-size: 20px;
        color: white;
        font-size: 40px ;
    }


    .other-text{
        padding: 0px 30px;
        font-size: 20px;
        color: white;
        font-size: 40px ;
    }

    .right-text{
        color: white;
        display:flex;
        justify-content: flex-end;
        padding: 0px 10px;
       
    }
    
    .right-text{
        display: flex;
        background-image: url(../images/lmr7a8E.png);
        padding:300px;
        height:225px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 500px;
    } 

    .search{
        color: white;
    }
    
    body {
        margin: 0;

    }
     
    .bottom-box {
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        background-color: black;
        padding: 30px;
    
    }
    .bottom-box > .nab-links a{
        text-decoration: none;
        width:70px;
        text-align:center;
        color: rgb(255, 255, 255);
    }

    /* .medium-box{
        display: grid;
        grid-template-columns: 55% 45%;
    }

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.left-column{
    font-size: 3em;
    color: white;
} */

     /* body{
        margin: 0;
     }

     .container{
        width: 100vw;
        height: 100vh;


        display: grid;

        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 50px 1fr 1fr 1fr 100px;
        

     }

     .container div {
        padding: 10px;
        border: 1px #000000;
     }

     .header{
        grid-column-start: 1;
        grid-column-end: 4;
     } */